parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: trait.unused
        - identifier: missingType.iterableValue
        - identifier: varTag.nativeType
        - '#Call to method getDiffLabel\(\) on an unknown class#'
        - '#PHPDoc tag @var for variable \$model has invalid type#'
