includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Call to method getDiffLabel\(\) on an unknown class#'
        - '#PHPDoc tag @var for variable \$model has invalid type#'
